/* widgetImages */
.widgetImages {
    position: relative;
    display: block;
    float: left;
    width: 200px;
    margin: 0 20px 20px 0;
}

.widgetImages__carousel {
    width: 200px;
    height: 48px;
    margin-top: 4px;
    overflow: hidden;
    display: block;
    position: relative;
}

.widgetImages__carousel-wrapper {
    width: 10000px;
    height: 48px;
    display: block;
    position: relative;
}

.widgetImages__carousel-item {
    width: 48px;
    height: 48px;
    margin: 0 4px 0 0;
    display: inline-block;
    vertical-align: top;
}

.widgetImages__carousel-control-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 48px;
}

.widgetImages__carousel-control-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 48px;
}